* {
  overflow-x: none;
  overflow-y: none;
}

body {
  margin: 0;
}

.sl {
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &-text {
    margin: 0;
    width: 350px;
    height: 300px;
  }

  &-curves {
    > div {
      position: absolute;
      height: 100%;
    }
  }
}
